<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Cannon</key>
		<dict>
			<key>powerScale</key>
			<real>2</real>
			<key>rotationBoundLower</key>
			<real>-8.9360967111100003</real>
			<key>rotationBoundUpper</key>
			<real>8.9360967111100003</real>
			<key>rotationOffset</key>
			<real>-1.57079825</real>
			<key>scale</key>
			<real>1</real>
			<key>type</key>
			<string>cannon</string>
			<key>x</key>
			<real>0.040015690434299998</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>10.612513809199999</real>
		</dict>
		<key>Furry1</key>
		<dict>
			<key>scale</key>
			<real>0.25</real>
			<key>type</key>
			<string>furry</string>
		</dict>
	</dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Carrot1</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>carrot</string>
			<key>x</key>
			<real>3.5254942315900002</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-158.16742681900001</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>2.5542362034699999</real>
			<key>y</key>
			<real>1.9941681462700001</real>
			<key>z</key>
			<real>-9.5394549333299992</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>hedge1</string>
			<key>x</key>
			<real>-10.002889025</real>
			<key>y</key>
			<real>1.9941681462700001</real>
			<key>z</key>
			<real>-9.12508346139</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>spawn</string>
			<key>x</key>
			<real>-4.7774674421499999</real>
			<key>y</key>
			<real>0.49236556439200002</real>
			<key>z</key>
			<real>-13.366668582999999</real>
		</dict>
		<key>Pot140734213</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>10</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>pot1</string>
			<key>x</key>
			<real>-3.4375</real>
			<key>y</key>
			<real>1</real>
			<key>z</key>
			<real>-3.3750004768371582</real>
		</dict>
		<key>Pot202055088</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>10</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>pot1</string>
			<key>x</key>
			<real>0.3750002384185791</real>
			<key>y</key>
			<real>1</real>
			<key>z</key>
			<real>0.75000017881393433</real>
		</dict>
		<key>Pot940422544</key>
		<dict>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>10</real>
			<key>sz</key>
			<real>0.5</real>
			<key>type</key>
			<string>pot1</string>
			<key>x</key>
			<real>-0.625</real>
			<key>y</key>
			<real>1</real>
			<key>z</key>
			<real>-3.1250004768371582</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>Background</key>
		<string>InsanelyHard</string>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>NumBalls</key>
		<integer>5</integer>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>1</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Gophers</key>
				<integer>100</integer>
				<key>Time</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>Gophers</key>
				<integer>100</integer>
				<key>Time</key>
				<real>0.0</real>
			</dict>
		</array>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
	</dict>
</dict>
</plist>
