<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole1</key>
		<dict>
			<key>x</key>
			<real>0.0623053389694</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-12.8980380602</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>x</key>
			<real>5.92157994174</real>
			<key>y</key>
			<real>0.664128949087</real>
			<key>z</key>
			<real>-13.2342162944</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>x</key>
			<real>-4.77746744215</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-13.366668583</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole13</key>
		<dict>
			<key>x</key>
			<real>-7.87852667211</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-5.30391458508</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-14.1335647729</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-158.167426819</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge15</key>
		<dict>
			<key>x</key>
			<real>-0.148411916497</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.12508346139</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge18</key>
		<dict>
			<key>x</key>
			<real>10.2891703464</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.12508346139</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Gate1</key>
		<dict>
			<key>x</key>
			<real>-3.97365284842</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-5.54917115399</real>
			<key>type</key>
			<string>gate2</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>tigX</key>
			<real>0.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>0.0</real>
		</dict>
		<key>Hedge19</key>
		<dict>
			<key>x</key>
			<real>-8.07334105973</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-2.71622771947</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot2</key>
		<dict>
			<key>x</key>
			<real>8.52531076784</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>-11.6497849453</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot3</key>
		<dict>
			<key>x</key>
			<real>7.94468691201</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>0.76911419317</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot4</key>
		<dict>
			<key>x</key>
			<real>5.45650841876</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.919973387404</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot5</key>
		<dict>
			<key>x</key>
			<real>7.46083369883</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-4.42424362835</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot6</key>
		<dict>
			<key>x</key>
			<real>3.26743918456</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-6.16611519582</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot7</key>
		<dict>
			<key>x</key>
			<real>6.39635662982</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-8.9724638323</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot8</key>
		<dict>
			<key>x</key>
			<real>3.13841166104</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-9.74662897339</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot9</key>
		<dict>
			<key>x</key>
			<real>-0.377588354774</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-5.68226198263</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot10</key>
		<dict>
			<key>x</key>
			<real>6.39635662982</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>5.6399032059</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot11</key>
		<dict>
			<key>x</key>
			<real>-4.72640238601</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>-9.26717442578</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot12</key>
		<dict>
			<key>x</key>
			<real>-8.37142992534</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>-8.7833212126</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot13</key>
		<dict>
			<key>x</key>
			<real>-8.30251749801</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>-13.1937165619</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot14</key>
		<dict>
			<key>x</key>
			<real>-1.89366175609</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-2.92576488934</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot15</key>
		<dict>
			<key>x</key>
			<real>-7.95795536134</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>2.79396657926</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot16</key>
		<dict>
			<key>x</key>
			<real>-2.67515800648</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>0.59610001391</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot17</key>
		<dict>
			<key>x</key>
			<real>4.14717229944</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>3.14585982521</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot18</key>
		<dict>
			<key>x</key>
			<real>-4.74253082645</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>3.35259710721</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot19</key>
		<dict>
			<key>x</key>
			<real>-8.2570646204</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>8.24537944781</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot20</key>
		<dict>
			<key>x</key>
			<real>-8.53271432973</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>12.7935996518</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot21</key>
		<dict>
			<key>x</key>
			<real>7.4549688114</real>
			<key>y</key>
			<real>2.52435489671e-031</real>
			<key>z</key>
			<real>11.4842635324</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot22</key>
		<dict>
			<key>x</key>
			<real>-5.84512966377</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>10.4505771225</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot23</key>
		<dict>
			<key>x</key>
			<real>-2.12385858782</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-12.3594363246</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot24</key>
		<dict>
			<key>x</key>
			<real>3.80261016278</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-0.0241118320819</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot25</key>
		<dict>
			<key>x</key>
			<real>2.76892375279</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.50495921605</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot26</key>
		<dict>
			<key>x</key>
			<real>2.76892375279</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-2.50495921605</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge20</key>
		<dict>
			<key>x</key>
			<real>-1.45774803581</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.36704676073</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge21</key>
		<dict>
			<key>x</key>
			<real>-6.07488066709</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-2.71622771947</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot27</key>
		<dict>
			<key>x</key>
			<real>5.39346087886</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-5.04445547434</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot28</key>
		<dict>
			<key>x</key>
			<real>8.97690710014</real>
			<key>y</key>
			<real>-1.13686837722e-015</real>
			<key>z</key>
			<real>-2.15013352638</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot29</key>
		<dict>
			<key>x</key>
			<real>4.08412475954</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>13.0106004868</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot30</key>
		<dict>
			<key>x</key>
			<real>-4.94340322101</real>
			<key>y</key>
			<real>2.27373675443e-015</real>
			<key>z</key>
			<real>6.60174474484</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>3</integer>
		<key>Background</key>
		<string>InsanelyHard</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>5</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Furry1</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry2</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>0.0400156904343</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>10.6125138092</real>
			<key>rotationOffset</key>
			<real>0.0</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
			<key>powerScale</key>
			<real>2.0</real>
		</dict>
		<key>Furry3</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry4</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
	</dict>
</dict>
</plist>
