<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole13</key>
		<dict>
			<key>x</key>
			<real>-5.70851832207</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>9.78790700073</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole14</key>
		<dict>
			<key>x</key>
			<real>3.86297796786</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>9.9257318554</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole15</key>
		<dict>
			<key>x</key>
			<real>5.31195686275</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-12.4496711815</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole16</key>
		<dict>
			<key>x</key>
			<real>-2.64118219484</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-1.62076527744</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole17</key>
		<dict>
			<key>x</key>
			<real>-2.36384101027</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-6.68224189591</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole18</key>
		<dict>
			<key>x</key>
			<real>-2.43317630641</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-12.8877509008</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole19</key>
		<dict>
			<key>x</key>
			<real>7.84269517199</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-6.07082393633</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole20</key>
		<dict>
			<key>x</key>
			<real>7.98136576428</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-0.766673781356</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0.0</real>
			<key>z</key>
			<real>-158.167426819</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge23</key>
		<dict>
			<key>x</key>
			<real>7.96272325302</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>1.55252936141</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge25</key>
		<dict>
			<key>x</key>
			<real>-0.463649615997</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-4.04022605737</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge33</key>
		<dict>
			<key>x</key>
			<real>0.867822170695</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-12.3073183142</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.770416020773</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge34</key>
		<dict>
			<key>x</key>
			<real>8.09898307812</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-3.82600773215</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge48</key>
		<dict>
			<key>x</key>
			<real>-0.52363281622</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-7.47138801001</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Pot30</key>
		<dict>
			<key>x</key>
			<real>1.60767604114</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-2.29089082476</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge35</key>
		<dict>
			<key>x</key>
			<real>7.96272325302</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>1.55252936141</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge36</key>
		<dict>
			<key>x</key>
			<real>-2.34460219547</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-3.64761784935</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge37</key>
		<dict>
			<key>x</key>
			<real>-2.34460219547</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-3.64761784935</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>8.24349506957</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.92751379277</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge42</key>
		<dict>
			<key>x</key>
			<real>-8.05281395372</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>4.01226438752</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge47</key>
		<dict>
			<key>x</key>
			<real>-0.555889697099</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-0.24584669311</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Hedge43</key>
		<dict>
			<key>x</key>
			<real>-2.20593160318</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.36777978119</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge44</key>
		<dict>
			<key>x</key>
			<real>-2.20593160318</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.36777978119</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge45</key>
		<dict>
			<key>x</key>
			<real>-8.73511634518</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-13.4860183486</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.770416020773</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot31</key>
		<dict>
			<key>x</key>
			<real>-8.30727130738</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>-0.66151136539</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot32</key>
		<dict>
			<key>x</key>
			<real>-8.37660660352</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>-5.44564679929</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot33</key>
		<dict>
			<key>x</key>
			<real>-8.2726036593</real>
			<key>y</key>
			<real>3.41060513165e-015</real>
			<key>z</key>
			<real>-9.70976751212</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot34</key>
		<dict>
			<key>x</key>
			<real>1.71167898536</real>
			<key>y</key>
			<real>1.13686837722e-015</real>
			<key>z</key>
			<real>-6.83235272216</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge46</key>
		<dict>
			<key>x</key>
			<real>2.947881055</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-14.3180419024</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.770416020773</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge49</key>
		<dict>
			<key>x</key>
			<real>-0.555889697099</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>13.0665301664</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Hedge50</key>
		<dict>
			<key>x</key>
			<real>-0.555889697099</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-11.1314881876</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Hedge51</key>
		<dict>
			<key>x</key>
			<real>-0.555889697099</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-14.5982529948</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Hedge52</key>
		<dict>
			<key>x</key>
			<real>6.02476559298</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.92751379277</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge53</key>
		<dict>
			<key>x</key>
			<real>6.96457916728</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-13.2955528861</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Hedge54</key>
		<dict>
			<key>x</key>
			<real>6.96457916728</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-12.2208557958</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
		<key>Spinner1</key>
		<dict>
			<key>x</key>
			<real>-2.77461917369</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>3.94893872357</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0.0</real>
			<key>sx</key>
			<real>2.0</real>
			<key>sy</key>
			<real>8.0</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8.0</real>
			<key>trigY</key>
			<real>0.0</real>
			<key>trigZ</key>
			<real>-4.0</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>8</integer>
		<key>Background</key>
		<string>InsanelyHard</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>7</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>0.0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Furry1</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry2</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry3</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry4</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry5</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry6</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1.0</real>
			<key>x</key>
			<real>7.90629595934</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>12.6124404237</real>
			<key>rotationOffset</key>
			<real>0.0</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
			<key>powerScale</key>
			<real>2.0</real>
		</dict>
	</dict>
</dict>
</plist>
