<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutObjects</key>
	<dict>
		<key>Hole13</key>
		<dict>
			<key>x</key>
			<real>-2.31108881103</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>12.8733276791</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole14</key>
		<dict>
			<key>x</key>
			<real>3.86297796786</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>9.9257318554</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole15</key>
		<dict>
			<key>x</key>
			<real>5.31195686275</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-13.0390211988</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole16</key>
		<dict>
			<key>x</key>
			<real>-4.30522930229</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-0.580735835284</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole19</key>
		<dict>
			<key>x</key>
			<real>7.84269517199</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-6.07082393633</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole20</key>
		<dict>
			<key>x</key>
			<real>7.98136576428</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-0.766673781356</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole21</key>
		<dict>
			<key>x</key>
			<real>-7.85791250251</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>12.9773306233</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hole22</key>
		<dict>
			<key>x</key>
			<real>-8.50001471897</real>
			<key>y</key>
			<real>0.492365564392</real>
			<key>z</key>
			<real>-1.20475350058</real>
			<key>type</key>
			<string>spawn</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Carrot1</key>
		<dict>
			<key>x</key>
			<real>3.52549423159</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-158.167426819</real>
			<key>type</key>
			<string>carrot</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge34</key>
		<dict>
			<key>x</key>
			<real>8.09898307812</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-3.82600773215</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot30</key>
		<dict>
			<key>x</key>
			<real>3.09838490823</real>
			<key>y</key>
			<real>0</real>
			<key>z</key>
			<real>-2.42956141705</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge38</key>
		<dict>
			<key>x</key>
			<real>8.243495069570001</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.92751379277</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge45</key>
		<dict>
			<key>x</key>
			<real>-8.73511634518</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-13.4860183486</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge49</key>
		<dict>
			<key>x</key>
			<real>-0.555889697099</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>13.0665301664</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8</real>
			<key>trigY</key>
			<real>0</real>
			<key>trigZ</key>
			<real>-4</real>
		</dict>
		<key>Hedge52</key>
		<dict>
			<key>x</key>
			<real>-6.38005457315</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>13.0665301664</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8</real>
			<key>trigY</key>
			<real>0</real>
			<key>trigZ</key>
			<real>-4</real>
		</dict>
		<key>Pot35</key>
		<dict>
			<key>x</key>
			<real>-3.21112704083</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>6.48002413739</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Pot36</key>
		<dict>
			<key>x</key>
			<real>-7.26724186522</real>
			<key>y</key>
			<real>2.27373675443e-15</real>
			<key>z</key>
			<real>6.54935943353</real>
			<key>type</key>
			<string>pot1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>0.5</real>
			<key>sy</key>
			<real>0.5</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge53</key>
		<dict>
			<key>x</key>
			<real>-8.041763383739999</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>0.727717360774</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge55</key>
		<dict>
			<key>x</key>
			<real>-5.40702213029</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>0.901055601132</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>-0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge56</key>
		<dict>
			<key>x</key>
			<real>-3.1882926537</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>0.901055601132</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge57</key>
		<dict>
			<key>x</key>
			<real>-10.3644958046</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>3.1544527258</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Gate1</key>
		<dict>
			<key>x</key>
			<real>-4.75067511378</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-8.94742635912</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8</real>
			<key>trigY</key>
			<real>0</real>
			<key>trigZ</key>
			<real>-4</real>
		</dict>
		<key>Gate2</key>
		<dict>
			<key>x</key>
			<real>0.830816225771</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-10.9581499472</real>
			<key>type</key>
			<string>spinner1</string>
			<key>ry</key>
			<real>1.57079825</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
			<key>trigX</key>
			<real>-8</real>
			<key>trigY</key>
			<real>0</real>
			<key>trigZ</key>
			<real>-4</real>
		</dict>
		<key>Hedge58</key>
		<dict>
			<key>x</key>
			<real>-1.48957789818</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-0.832326802455</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0.785399125</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
		<key>Hedge59</key>
		<dict>
			<key>x</key>
			<real>6.23277148141</real>
			<key>y</key>
			<real>1.99416814627</real>
			<key>z</key>
			<real>-9.92751379277</real>
			<key>type</key>
			<string>hedge1</string>
			<key>ry</key>
			<real>0</real>
			<key>spawnTime</key>
			<real>0</real>
			<key>sx</key>
			<real>2</real>
			<key>sy</key>
			<real>8</real>
			<key>sz</key>
			<real>0.5</real>
		</dict>
	</dict>
	<key>LevelControl</key>
	<dict>
		<key>NumCombos</key>
		<integer>2</integer>
		<key>NumGopherLives</key>
		<integer>8</integer>
		<key>Background</key>
		<string>InsanelyHard</string>
		<key>GamePlayMode</key>
		<integer>9</integer>
		<key>ScoreMode</key>
		<integer>0</integer>
		<key>NumBalls</key>
		<integer>5</integer>
		<key>BallTypes</key>
		<integer>1</integer>
		<key>XBounds</key>
		<real>10</real>
		<key>ZBounds</key>
		<real>15</real>
		<key>CollisionAvoidance</key>
		<integer>0</integer>
		<key>SpawnIntervals</key>
		<array>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>Time</key>
				<real>0</real>
				<key>Gophers</key>
				<integer>100</integer>
			</dict>
		</array>
	</dict>
	<key>GeneratedObjects</key>
	<dict>
		<key>Furry1</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry2</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry3</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry4</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry5</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry7</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Furry6</key>
		<dict>
			<key>type</key>
			<string>furry</string>
			<key>scale</key>
			<real>0.25</real>
		</dict>
		<key>Cannon</key>
		<dict>
			<key>type</key>
			<string>cannon</string>
			<key>scale</key>
			<real>1</real>
			<key>x</key>
			<real>7.90629595934</real>
			<key>y</key>
			<real>1.5</real>
			<key>z</key>
			<real>12.6124404237</real>
			<key>rotationOffset</key>
			<real>0</real>
			<key>rotationBoundUpper</key>
			<real>8.93609671111</real>
			<key>rotationBoundLower</key>
			<real>-8.93609671111</real>
			<key>powerScale</key>
			<real>2</real>
		</dict>
	</dict>
</dict>
</plist>
